body {
    background-color: azure;
    margin: 0;
    padding: 0;
}

/* button styles */

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 25%;
}

.buttons {
    font-size: 18px;
    color: white;
    border-radius: 10%;
    height: 45px;
    width: 85px;
}

.cat-button {
    background-color: lightblue;
}

.dog-button {
    background-color: rgb(126, 182, 126);
}

.dino-button {
    background-color: rgb(219, 82, 82);
}

/* card styles */

#pet-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pet-card {
    border: 2px solid lightgrey;
    margin: 10px;
}

.pet-type-cat {
    background-color: lightblue;
}

.pet-type-dog {
    background-color: rgb(126, 182, 126);
}

.pet-type-dino {
    background-color: rgb(219, 82, 82);
}